In [67]:
import pandas as pd

In [69]:
comp = pd.read_csv('competitions.csv')
comp.head()

,competition_id,competition_code,name,sub_type,type,country_name,domestic_league_code
0,BE1,jupiler-pro-league,jupiler-pro-league,first_tier,domestic_league,Belgium,BE1
1,SCI,supercoppa-italiana,supercoppa-italiana,domestic_super_cup,other,Italy,IT1
2,SFA,sfa-cup,sfa-cup,domestic_cup,domestic_cup,Scotland,SC1
3,UKRS,ukrainian-super-cup,ukrainian-super-cup,domestic_super_cup,other,Ukraine,UKR1
4,FAC,fa-cup,fa-cup,domestic_cup,domestic_cup,England,GB1

In [70]:
pv = pd.read_csv('player_valuations.csv').drop(['dateweek','datetime','current_club_id',
                                            'n'], axis=1)
pv.head()

,player_id,last_season,date,market_value_in_eur,player_club_domestic_competition_id
0,3132,2013,12/9/03,400000,TR1
1,6893,2012,12/15/03,900000,GB1
2,10,2015,10/4/04,7000000,IT1
3,26,2017,10/4/04,1500000,L1
4,65,2015,10/4/04,8000000,GR1

In [74]:
p = pd.read_csv('players.csv').drop(['market_value_in_eur','last_season','current_club_id','first_name',
                                  'last_name','city_of_birth','url',
                                     'country_of_citizenship','agent_name','image_url',
                                     'highest_market_value_in_eur'], axis=1)
new = pd.merge(p, pv, on=['player_id'])
new['date'] = pd.to_datetime(new['date'])
new = new.sort_values(['player_id', 'date']).drop_duplicates('player_id', keep='last')
new['Position'] = new['position'].replace({'Attack': 'Forward', 'Midfield': 'Midfielder'})
new = new.drop(['position'],axis=1)
new[new['player_code']=='rasmus-kristensen']

,player_id,name,player_code,country_of_birth,date_of_birth,sub_position,foot,height_in_cm,contract_expiration_date,current_club_domestic_competition_id,current_club_name,last_season,date,market_value_in_eur,player_club_domestic_competition_id,Position
173542,369684,Rasmus Kristensen,rasmus-kristensen,Denmark,7/11/97,Right-Back,right,187.0,6/30/27 0:00,GB1,Leeds United,2022,2022-11-03,15000000,GB1,Defender

In [73]:
new.to_csv('transfermarkt_data.csv')